/* Footer */
.footer {
	text-align: center;
	position: relative;
	bottom: -300px;
}

.wikify-footer {
	width:100%;
	text-align:center;
	position: absolute;
	bottom: 5px;
}
	.footer-link {
		text-decoration: none;
		color: #959494;
		font-size: 14px;
		margin: 15px;
		font-family: "Gill Sans MT";
	}
		#about {
			display:none;
			width:375px;
			height:210px;
			line-height:1.2;
			font-size: 14px;
			font-family: "Arial";
			margin: 0 20px;
		}

		.box-title {
			margin: 15px 0 25px 0;
			font-size: 20px;
			font-family: "Arial";
			padding: 0 10px 0 10px;
		}

		.about-versions {
			margin-top: 50px;
			line-height: 1.5;
			font-size: 10px;
		}

	.hide {
		display:none;
	}

	#contact {
		width:400px; 
	}

	.message_area {
		height: 150px;
		width: 284px;
	}

	#contact_form label {
		width: 100px;
		margin-right: 10px;
		text-align: right;
		float:left;
		display: block;
		font-family: "Arial";
	}

#contact_form input[type="text"], #context-form textarea {
	margin: 0;
}
	.formfield {
		margin-bottom: 5px;
	}

	.field {
		border: #a8acb0 1px solid;
		border-radius: 3px;
	}

	#send {
		float: right;
		background-color: #f0340f;
		border-color: #FFF;
		color: #FFF;
		font-size: 20px;
		padding: 4px 14px;
		display: block;
		width: 82px;
		border: 1px #b42a0f solid;
		border-radius: 3px;
	}
	
.center-text {
	text-align: center;
}
