.title {
	color: #fff;
	font-family: "Hoefler Text";
	font-size: 120px;
	padding: 15px 0 0 40px;
	text-decoration: none;
}

.header:after {
   content: " ";
   position: absolute;
   height: 1px;
   background-color: #fff;
   width: 50%;
   margin-left: -25%;
   left: 50%;	
   bottom: 5px;
 }

.header { 
	background-color: #112233;
	padding: 50px 0;
	text-align: center;
	position: relative;
}
	.subtitle {
		font-size: 17px;
		color: #fff;
		font-family: "Gill Sans MT";
		text-align: center;
	}

.buttonmenu {
	width: 40%;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	margin-top: 30px;
	width: 800px;
}

.descr-area {
	color: #111;
	font-family: "Arial", sans-serif;
	height: 250px;
	margin: 3% auto;
	background-color: #eee;
	border-radius: 0 0 5px 5px;
}

.content-ul {
	display:inline;
	float:left;
	width: 50%;
}

	ul.tabs {
		margin: 0px;
		padding: 0px;
		list-style: none;
		background-color: #112233;
		display: table;
		width:100%;
	}

	ul.tabs li {
		display: table-cell;
	}

	ul.tabs li a {
		width:100%;
		cursor: pointer;
		padding: 15px 1px;
		font-size: 20px;
		font-family: "Gill Sans MT";
		text-decoration: none;
		color: #000;
		display: block;
		color: #fff;
	}

	ul.tabs li.ui-tabs-active a {
		border-radius: 10px 10px 0 0;
		background: #f03510; /* Old browsers */
		background: -moz-linear-gradient(left,  #f03510 0%, #ee4f2f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f03510), color-stop(100%,#ee4f2f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #f03510 0%,#ee4f2f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #f03510 0%,#ee4f2f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #f03510 0%,#ee4f2f 100%); /* IE10+ */
		background: linear-gradient(to right,  #f03510 0%,#ee4f2f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f03510', 
															endColorstr='#ee4f2f',GradientType=1 ); /* IE6-9 */
		outline: 0;
	}

	.text_content {
		margin: 5px;
		overflow: hidden;
		font-weight: bold;	
		font-family: "Arial";
		font-size: 15px;
		line-height: 1.5;
		text-align: left;
	}

body {
	background-color: #112233;
}

.spacing {
	margin-bottom: 15px;
}

#diagram {
	float: right;
}

.button { 
	background-color: #f0340f;
	color:#FFF;
	padding: 15px 25px;
	display: block;
	width: 130px;
	border: 1px #b42a0f solid;
	border-radius: 3px;
	text-decoration:none;
	font-family: "Gill Sans MT";
	margin: 24% auto;
	text-align: center;
	font-size: 20px;
}

.wikify {
   position:absolute;
   width:100%;
   height:60px;   /* Height of the footer */
}
