@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400);

html, body {
	background: #dedede;
	padding: 0px;
	margin: 0px;
}

header {
	background: #123;
	color: #ffffff;
	padding: 20px 0px;
}

	header h1 {
		float: left;
		font-size: 2.4em;
		margin: 0px 40px 0px 0px;
	}

footer {
	text-align: center;
}

	footer a {
		color: #959494;
		display: block;
		padding: 20px 35px;
	}

ul.nav li a {
	border: 1px solid #dddddd;
}

div.main {
	background: #ffffff;
	padding: 40px 20px;
	border: 1px solid #999999;
	border-radius: 0px 0px 4px 4px;
	border-top: 0px;
}

	div.main button {
		margin: 120px 0px;
	}

	div.main textarea {
		border-radius: 0px 0px 4px 4px;
		border-top: 0px;
		box-shadow: none;
		min-height: 280px;
		resize: none;
	}

div#rendered_content {
	border: 1px solid #dddddd;
	border-radius: 0px 0px 4px 4px;
	border-top: 0px;
	min-height: 280px;
	padding: 10px;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.fixed-width {
	max-width: 85%;
	margin: 0 auto;
}

.title {
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	font-size: 3.2em;
}

p.description {
	color: #cccccc;
	float: left;
	margin: 0px;
	margin-top: 5px;
	max-width: 320px;
}

.about-versions {
	margin-top: 50px;
	line-height: 1.5;
	font-size: 10px;
	text-align: center;
}