<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		{% load staticfiles %}
		{% load widget_tweaks %}

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

		<title>Wikifies</title>
	</head>
	<body>
		<header>
			<div class="fixed-width clearfix">
				<h1 class="title">Wikifies</h1>
				<p class="description">A text enriching tool, to add Wikipedia links to the most important words.</p>
			</div>
		</header>
		<div class="main fixed-width">
			{% block content %}
			<form method="get" action=".">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5">
							<ul class="nav nav-tabs nav-justified">
								<li class="active"><a href="#">Original</a></li>
							</ul>
							{{ wikiform.original }}
						</div>
						<div class="col-md-2">
							<button type="submit" name="submit" value="Wikify" class="btn btn-danger btn-lg btn-block">Wikify</button>
						</div>
						<div class="col-md-5 tab-content">
							<ul class="nav nav-tabs nav-justified">
								<li id="#format-wiki" class="active"><a href="#wiki" data-toggle="tab">Wiki</a></li>
								<li id="#format-html"><a href="#html" data-toggle="tab">HTML</a></li>
								<li id="#format-preview"><a href="#rendered_content" data-toggle="tab">Preview</a></li>
							</ul>
							<div id="wiki" class="tab-pane active">
								{{ wikiform.wikified }}
							</div>
							<div id="html" class="tab-pane">
								<p>{{ wikiform.HTML }}</p>
							</div>
							<div id="rendered_content" class="tab-pane">
								<p></p>
							</div>
						</div>
						<div class="clearfix visible-xs"></div>
					</div>
				</div>
			</form>
			{% endblock %}
		</div>
		<footer class="fixed-width">
			<a href="#about" data-toggle="modal">About</a>
		</footer>
		<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">About Wikifies</h4>
					</div>
					<div class="modal-body">
						<p>Wikifies is a project which aims to enrich raw text by adding <a href="http://wikipedia.org">Wikipedia</a> links to important words. Use this tool to add value to text on websites or documents, or to simply determine if your text is relevant to the topics you're searching for.</p>
						<div class="about-versions">
							<p>Version 1.0</p>
							<p>Written in Django, Python</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="{% static "js/main.js" %}"></script>
	</body>
</html>