<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load widget_tweaks %}

		<title>Wikifies - Introduction</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}"/>
		<link rel="stylesheet" type="text/css" href="{% static "css/intro.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}" />
		<link rel="stylesheet" href="{% static "res/fancybox/source/jquery.fancybox.css" %}" type="text/css" media="screen" />
		<script type="text/javascript" src="{% static "res/fancybox/source/jquery.fancybox.pack.js" %}"></script>
	</head>
	
	<body>
		<div class="header">
			<a href="http://localhost:8000" title="Click here to access the tool" class="title">Wikifies</a>
			<p class="subtitle">A tool to help you; as a blogger, a researcher or as a Wikipedia volunteer.</p>
		</div>
		<div class="buttonmenu">
			<div class="descr-area">
				<ul class="tabs">
					<li><a href="#what_content" id="tab_what" class="active">What it is</a></li>
					<li><a href="#how_content" id="tab_how">How it works</a></li>
					<li><a href="#about_content" id="tab_about">About</a></li>
				</ul>
				<div id="what_content" class="text_content">
					<p class="spacing">Wikfies enriches raw text by highlighting important words and adding Wikipedia annotations.</p>
					<ul class="content-ul">
						<li class="spacing">
						Important categories and words are highlighted to let you know if the text you're reading is relevant to a topic you need.
						</li>
						<li class="spacing">
						Use as a tool to train volunteers on how to annotate articles, how to choose their words and the format in which Wikipedia uses.
						</li>
					</ul>
					<img src="{% static "imgs/linking.png" %}" id="diagram" alt="linking diagram"/>
				</div>
				<div id="how_content" class="text_content">
					<p>Wikfies works in four stages:</p>
					<ol>
						<li class="spacing">
						<a href="http://digital.library.unt.edu/ark:/67531/metadc31001/m2/1/high_res_d/Mihalcea-2007-Wikify-Linking_Documents_to_Encyclopedic.pdf">Keyphraseness:</a> 
						<em>how likely the word should be linked, based on how many times it has been linked</em>
						</li>
						<li class="spacing">
						<a href="http://www.cs.waikato.ac.nz/~ihw/papers/08-DNM-IHW-LearningToLinkWithWikipedia.pdf">Commonness:</a>
						<em>how common a term is linked to one of its possible meanings.</em>
						</li>
						<li class="spacing">
						<a href="http://www.cs.waikato.ac.nz/~ihw/papers/08-DNM-IHW-LearningToLinkWithWikipedia.pdf">Relatedness:</a>
						<em>percentage of how related two given articles are.</em>
						</li>
					</ol>
				</div>
				<div id="about_content" class="text_content">
				<p>Wikify is a project which aims to enrich raw text by adding <a href="http://wikipedia.org">Wikipedia</a> links to important words. Use this tool to add value to text on websites or documents, or to simply determine if your text is relevant to the topics you're searching for.</p>
				</div>
			</div>
		</div>
		
		<div class="wikify">
			<a href="http://localhost:8000/wikify/" title="Click here to access the tool" class="button gillsans">Go to Wikifies!</a>
		</div>
		
		<!-- FOOTER -->
		<div class="wikify-footer">
			<a href="#about" class="fancybox footer-link gillsans">About</a>
			<div id="about">
				<h2 class="center-text box-title">About Wikify</h2>
				<p>Wikify is a project which aims to enrich raw text by adding <a href="http://wikipedia.org">Wikipedia</a> links to important words. Use this tool to add value to text on websites or documents, or to simply determine if your text is relevant to the topics you're searching for.</p>
				<div class="about-versions center-text">
					<p>Version 1.0</p>
					<p>Written in Django, Python</p>
				</div>
			</div>
		</div>
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="{% static "js/script.js" %}"></script>
	<script type="text/javascript" src="{% static "js/intro.js" %}"></script>
</html>
